<%-include("./header.ejs")%>
<div class="table">

<form action="/api/addservice" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">code</label>
        <input type="text" name="abcode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <!-- //<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">service description</label>
      <input type="text" name="sdesc" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <!-- //<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">service name</label>
      <input type="text"  name="sname" class="form-control" id="exampleInputPassword1">
    </div>
   
 
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



</div>







<%-include("./footer.ejs")%>