<%-include("./h2header.ejs")%>


<div style="padding:20%;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-style: oblique;color: blue;">
<h3 style="color:black;font-weight: bold;font-style: inherit;">response from <span style="color:red">NHIF</span></h3>


<p><%=text%></p>

</div>





<%-include("./h2footer.ejs")%>