<%-include("./h2header.ejs")%>

  <div class="container mt-5">
    
    <form action="/regester" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">email</label>
            <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <!-- //<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">password</label>
          <input type="text" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <!-- //<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        
    
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">image</label>
            <input type="file" name="image">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
    
  </div>
  <%-include("./h2footer.ejs")%>