<%-include("./h2header.ejs")%>




<div style="padding:15%;background-color: rgb(255, 255, 255);align-items: center;">
   <p> complete the transaction by putting your password in the popup that will apear on your phone
   </p>

<a href="/apps?uid=<%= sesn %>&id=<%=data.abcode%>"><button class="btn btn-primary">Check your apponitment</button></a>
    </div>


<%-include("./h2footer.ejs")%>